@keyframes pageLoad {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container-top, .container-main, .container-top-inputs, .container-middle-inputs, .container-bottom-inputs
{
    animation: pageLoad 0.8s ease-in-out;
}
body
{
    background-color:#1f1f29
}
body h1, body h2, body h3, body h4, body h5, body h6
{
    color: #cfe1ff;
    font-family: Calibri, System-ui, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
/*

{
    border: solid black 1px;
}
*/
.container-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.container-main
{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 75%;
    gap: 20px;
}
.container-top-inputs, .container-middle-inputs, .container-bottom-inputs
{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 50px;
}
.container-bottom-inputs
{
    padding-top: 10px;
}
.container-main input
{
    display: flex;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    background-color: #cfe1ff;
    padding: 5px;
}
.container-main button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: #cfe1ff;
    cursor: pointer;
    background-color: #101015;
    color: #cfe1ff;
}
.container-top img
{
    display: flex;
    max-width: 600px;
    height: auto;
    padding: 40px;
    padding-right: 100px; 
}