@keyframes pageLoad {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.container-top, .container-main, .container-top-inputs, .container-middle-inputs, .container-bottom-inputs, .container-main-dashboard
{
    animation: pageLoad 0.8s ease-in-out;
}
body
{
    background-color:#0d1117
}
body h1, body h2, body h3, body h4, body h5, body h6
{
    color: #cfe1ff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*

{
    border: solid black 1px;
}
*/
.container-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}
#dashboard-title
{
    font-size: 55px;
    display: flex;
    margin: 0px;
}

.container-main
{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 75%;
    gap: 20px;
    background-color: #0d1117
}
.container-top-inputs, .container-middle-inputs, .container-bottom-inputs
{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 50px;
}
.container-bottom-inputs
{
    padding-top: 10px;
}
.container-main input
{
    display: flex;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    background-color: #cfe1ff;
    padding: 5px;
}
.container-main button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: #cfe1ff;
    cursor: pointer;
    background-color: #0d1117;
    color: #cfe1ff;
}
.nav-container
{
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    padding: 20px;
    justify-content: space-between;
    gap: 10px;
}
.nav-container button
{
    font-size: large;
    width: fit-content;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: #cfe1ff;
    cursor: pointer;
    background-color: #0d1117;
    color: #cfe1ff;
}

.container-top img
{
    display: flex;
    max-width: 600px;
    height: auto;
    padding: 40px;
    padding-right: 100px; 
}

#container-top-dashboard
{
    background-color: #0d1117; 
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 0px;
    margin-left: 0px;
}
.container-main-dashboard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-main-dashboard-top
{
    width: 100%;
}

.container-main-dashboard-one, .container-main-dashboard-two, .container-main-dashboard-three, .container-main-dashboard-four
{
    width: 80%;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 25%;
    border-radius: 5px;
    border: dashed 0.1px rgba(207, 225, 255, 0.15);
    padding: 25px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.total-mentions-container, .thirty-day-mentions-container, .seven-day-mentions-container, .twentyfour-hour-mentions-container 
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
    align-items: space-between;
    justify-content: space-between;
    gap: 10px;
}
#total-mentions-number, #thirty-day-mentions-number, #seven-day-mentions-number, #twentyfour-hour-mentions-number
{
    font-size: 75px;
    padding: 0px;
    margin: 0px;
}