<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPresenceTracker Dashboard</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = "container-top" id = "container-top-dashboard">
        <div class = "logo-container">
            <h1 id = "dashboard-title">WebPresenceTracker</h1>
            <h3 style = "font-style: italic;">Your online reputation, summarized</h3>
        </div>
        <div class = "nav-container"> 
            <button id = "configure-search">Configure search</button>
            <button id = "view-all-mentions">View mentions</button>
            <button id = "help">Help</button>
        </div>
    </div>
    <div class = "container-main-dashboard"> 
        <div class = "container-main-dashboard-one">    
            <div class = "total-mentions-container">
                <h1 id = "total-mentions-number">Loading...</h1>
                <h3>mentions in the past year</h3>
            </div>
            <h3 id = "total-mentions-highlight">Loading...</h3>
        </div>
        <div class = "container-main-dashboard-two">
            <div class = "thirty-day-mentions-container">
                <h1 id = "thirty-day-mentions-number">Loading...</h1>
                <h3>mentions in the past 30 days</h3>
            </div>
            <h3 id = "thirty-day-mentions-highlight">Loading...</h3>
        </div>
        <div class = "container-main-dashboard-three">    
            <div class = "seven-day-mentions-container">
                <h1 id = "seven-day-mentions-number">Loading...</h1>
                <h3>mentions in the past 7 days</h3>
            </div>
            <h3 id = "seven-day-mentions-highlight">Loading...</h3>
        </div>
        <div class = "container-main-dashboard-four">
            <div class = "twentyfour-hour-mentions-container">
                <h1 id = "twentyfour-hour-mentions-number">Loading...</h1>
                <h3>mentions in the past 24 hours</h3>
            </div>
            <h3 id = "twentyfour-hour-mentions-highlight">Loading...</h3>
        </div>
    </div>
</body>
<script src = "{{ url_for('static', filename='dashboard.js') }}"></script>
</html>