<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Mention Tracker Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class = "container-top">
        <div class = "container-main">
            <h1>Web Mention Tracker</h1>
            <h2>Please fill in the information below:</h2>
            <div class = "container-top-inputs">
                <input id = "first-name-field" type = "text" placeholder = "Enter your first name">
                <input id = "last-name-field" type = "text" placeholder = "Enter your last name">
                <input id = "city-field"type = "text" placeholder = "Enter your city of residence">
            </div>
            <div class = "container-middle-inputs">
                <input id = "school-field" type = "text" placeholder = "Enter your school name">
                <input id = "occupation-field" type = "text" placeholder = "Enter your occupation">
                <input id = "age-field" type = "text" placeholder = "Enter your age">
            </div>
            <div class = "container-bottom-inputs">
                <button id = "submit-button">Submit</button>
                <button id = "clear-button">Clear</button>
            </div>
        </div>
        <img class = "container-top-image" src="{{ url_for('static', filename='webmention-logo.avif') }}" alt="Online Connection Illustration">
    </div>
</body>
<script src="{{ url_for('static', filename='setup.js') }}"></script>
</html>